.reviewNftTitle {
  font-family: "poppins-semibold";
  font-size: 0.938vw;
  margin-top: 1.2962962962962963vh;
}
.reviewNftEachInnerContainer {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 2.5925925925925926vh;
  padding: 3.7037037037037033vh 2.083vw;
  box-sizing: border-box;
}
.reviewNftCard {
  display: flex;
  flex-direction: row;
}
.reviewNftCard img {
  width: 19.271vw;
  height: 32.96296296296296vh;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 6px;
}
.reviewNftCardDetails {
  /* border: 2px solid red; */
  box-sizing: border-box;
  margin-left: 2.865vw;
  flex: 1;
}
.reviewNftDetailTitleandButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reviewNftPrimaryTitle {
  color: var(--color-primary);
  font-family: "poppins-medium";
  font-size: 0.729vw;
}
.reviewNftGreyTitle {
  color: #333333;
  font-size: 0.938vw;
  font-family: "poppins-semibold";
}
.reviewNftButtonContainer {
  display: flex;
  flex-direction: row;
}
/* .reviewNftFirstButton {
  margin-right: 1.667vw !important;
} */
.reviewNftSecondButton {
  margin-left: 1.667vw !important;
  border: 1px solid #fc4c4c;
  background-color: #fc4c4c !important;
}
.reviewNftOwnerImage {
  width: 1.979vw !important;
  height: 1.979vw !important ;
  border-radius: 50% !important;
  align-self: center !important;
}
.reviewNftOwnerContainer {
  margin-top: 3.2407407407407405vh;
}
.reportCheckBox{
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
    

}
.reportCheckBox::before{
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: blue;

}
.reportCheckBox:checked::before {
  transform: scale(1);
}
