.tabheader {
  background-color: #f5f6fa;
  color: #131523;
  letter-spacing: 0.09px;
  /* gap: 15%; */
  height: 47px;
  padding: 0px 20px;
}
.tabrow {
  /* height: 55vh; */
  height: 100%;
  min-height: 40vh;
  /* overflow-y: scroll; */
}
.tabsinglerow {
  /* margin: auto; */
  padding: 0px 20px;
  margin-top: 20px;
}
.managescoll {
}
@media screen and (max-width: 1400px) {
  .managescroll {
    overflow-x: scroll;
  }
}
